header{
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;
	.navbar{
		padding-left: 0;
		padding-right: 0; 
	}
	.navbar-brand{
		width: 120px;
		max-width: 100%;
		padding-left: 20px;
	}
	li{
		a{
			color: white;
			padding: 20px;
			padding-left: 40px;
			display: block;
			position: relative;
			cursor: pointer;
			@media only screen and (min-width: 768px){
				padding: 10px;
				&:hover{
					text-decoration: none;
					color: white;
					&:after{
						content: "";
						display: block;
						height: 3px;
						width: 100%;
						// left: 0;
						background: $yellow;
						position: absolute;
						bottom: 0;
					}
				}
			}
		}
		&.active{
			a{
				&:after,&:before{
					content: "";
					display: block;
					height: 3px;
					background: $yellow;
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
				}
				&:after{
					right: 0;
					width: 80px;
				}
				&:before{
					left: 0;
					width: 30px;	
				}
				@media only screen and (min-width: 768px){
					position: relative;
					&:after{
						width: 100%;
						left: 0;
						top: inherit;
						background: $yellow;
						position: absolute;
						bottom: -1px;
					}
					&:before{
						display: none;
					}
				}
			}
		}
	}
	button{
		&:focus{
			outline: none;
		}
		.bar-menu{
			width: 25px;
			height: 2px;
			margin: 4px 0;
			background: white;
			display: block;
		}
	}
}