.text-servicios{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	flex-direction: column;
}
.servicios{
	background: url(img/ciudad.jpg) no-repeat bottom center/contain;
	margin-top: -10%;
	.container{
		background: white url(img/coltejer.jpg) no-repeat bottom left/40%;
	    margin-bottom: -150px;
	    z-index: 1;
	    position: relative;
	}	
	.slick-slide{
		padding: 10px;
		background: #F2F2F2;
		@media only screen and (min-width: 768px){
			background: transparent;
		}
		p{
			color: black;
		}
		@media only screen and (min-width: 768px){
			padding: 40px;
		}
	}
	.carousel-servicios{
		h6{
			padding: 20px 0;
		}
	}
}
.serv-descrip{
	h5{
		padding: 20px 0;
	}
	.button{
		max-width: auto;
	}
}
.logo-servicios{
    position: absolute;
	width: 100px;
	height: 100px;
	bottom: -50px;
	right: 0px;
    @media only screen and (min-width: 768px){
	    bottom: -100px;
	    right: -50px;
	    width: 200px;
	    height: 200px;
    }
}